
*{
    text-align: center;
    transition:1s;
}
/* DONT FORGET TO FIND GOOD FONTS */
/* when you hover on projects size increase others decerasae */
/* Styling for the header */
header{
    background-color:brown;
    display:flex;
   justify-content:space-between;
   padding:15px
}

header h1{
    font-size:3rem;
    background-color:red;
    width:fit-content;
    height:fit-content;
}
header ul{
    margin: 5% 10px;
}
nav li{
    display:inline;
    margin: 0 10px;
    border-bottom:2.5px solid black ;
    padding:5px;
}

/* Styling for the HERO */
.hero{
    height:200px;
    background-color: blanchedalmond;
}
.hero p{
    visibility: hidden;
}

/* Styling the section tags so they are aligned properly*/
section{
    display:flex;
    justify-content:space-evenly;
    margin:5% 0;
}


section h2{
    font-size:2rem;
    border-right:2.5px solid black;
    padding: 0 10px;
}

/* Styling for the footer */
footer li{
    margin:25px;
}

/* styling for the work section*/
#container-grid {
display:grid;
grid-template-areas: 
"fullstack fullstack fullstack fullstack"
;
grid-template-rows:300px repeat(2,200px); 
grid-template-columns: 400px 400px;
gap:20px;
}
#container-grid div,.FULLSTACK{
    background-color: darkorange;
}
.FULLSTACK{
grid-area:fullstack;
}






@media only screen and (max-width:991px) and (min-width:768px) {
    .hero{
        margin:20px;
        height:150px;
    }
    .hero p{
        visibility: inherit;
    }
    .about{
        display:none;
    }
    section {
        justify-content:flex-start;
        flex-direction: column;
    }
    section aside {
        width: fit-content;
        border-right:none;
        margin-bottom:20px;
    }
    section h2{
        border-bottom:2.5px solid black;
        padding: auto 10px;
        border-right:none;
    }
    #container-grid {
        display:grid;
        grid-template-areas: 
        "fullstack "
        "fullstack "
        "fullstack "
        "fullstack"
        ;
        grid-template-rows: 150px repeat(3,150px) ; 
        grid-template-columns: 500px 310px ;
        gap:20px;
        margin:auto 10px;
    }
        
        #container-grid div,.FULLSTACK{
            background-color: darkorange;
        }
        .FULLSTACK{
        grid-area:fullstack;
        }
        nav li{
            background-color: aqua;
            border:2.5px  solid;
        }

}

@media only screen and (max-width: 767px) {
    body{
        background-color: bisque;
        /* change to blurred background image */
    }

    .hero{
        display: none;
    }
    section {
        flex-direction: column;
        text-align: center;
    }

    section aside {
        margin-left:40%;
        width: fit-content;

        padding: 0 10px;
        margin-bottom:20px;
    }

    section h2 {
        font-size: 1.5rem;
        border-right:none;
        border-bottom: 2.5px solid black;
    }

   nav li{
        background-color: aqua;
        border:2.5px  solid;
        display:block;
        margin: 10px;
    }
    header h1{
        margin-top:25px;
    }

    #container-grid {
        display:grid;
        grid-template-areas: 
        "fullstack"
        ;
        grid-template-rows: 350px repeat(4,200px) ; 
        grid-template-columns: 280px;
        gap:20px;
        margin:0 auto;
        }
        #container-grid div,.FULLSTACK{
            background-color: darkorange;
        }
        .FULLSTACK{
        grid-area:fullstack;
        }
}
/* for the hover effect make the background color of the navs appear */